*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f2f2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container{
    background-color: white;
    width: 420px;
    padding: 30px 25px;
    border-radius: 6px;
    box-shadow: 0 2px 8px #0000000f;
}

h1{
    text-align: center;
    color: #24364b;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: bold;
}

.descripcion{
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
    font-size: 15px;
}

span{
    color: #ff5b2e;
    font-weight: bold;
}

h2{
    color: #ff7a00;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 28px;
}

ul{
    margin-left: 25px;
    margin-bottom: 30px;
    color: #555;
    line-height: 1.8;
}

ol{
    margin-left: 25px;
    margin-bottom: 30px;
    color: #555;
    line-height: 1.8;
}

h3{
    color: #ff7a00;
    margin-bottom: 15px;
    font-size: 24px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    font-size: 14px;
}

input:focus{
    outline: none;
    border-color: #4aa3df;
}

button{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover{
    background-color: #2c80b9;
}